Flask==3.1
Flask-SQLAlchemy==3.1
Flask-Login==0.6.3
Flask-Migrate==4.1
Flask-WTF==1.2
openpyxl==3.1
# psycopg2-binary==2.9  # need PostgreSQL + MSVC build tools; use SQLite for now
email-validator==2.2
python-dotenv==1.0
